@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Sedgwick+Ave+Display&family=Stalinist+One&family=Vast+Shadow&display=swap');

body{
    background-color: #f1f2f6;
    background-image: url("tsa.avif");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /* font-family:sans-serif; */
    font-family: 'Merriweather', serif;
}
.header{
    font-size: 20px;
    color: #edf030;
}