@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Courgette&family=Merriweather:ital@1&family=Righteous&family=Sedgwick+Ave+Display&family=Stalinist+One&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Courgette&family=Dela+Gothic+One&family=Lobster&family=Londrina+Solid:wght@100&family=Merriweather:ital@1&family=Righteous&family=Sedgwick+Ave+Display&family=Stalinist+One&family=Vast+Shadow&display=swap');

*{
    margin: 0;
    overflow:visible;
    padding: 0;
    /* box-sizing: border-box; */
}

p{
    font-size:40px;
    color: #feca57;
}

h1{
    color: #00b894;
}

/* h2{
    margin-top: 10px;
} */

.hey{
    /* box-shadow: 5px; */
    font-family: 'Lobster Two', cursive;
    text-align: center;
}
.hrt{
    color: #2aa0e9;
    font-size: 35px;
    margin-bottom: 70px;
    text-decoration: underline;
}

.quotes{
    margin-top: 42px;
    font-weight: 650;
    /* box-shadow: 0px 0px 9px blue; */
    /* border-left: 120px; */
    /* border-right: 140px; */
    /* border-radius: 7px; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 32px;
}

main{
    border-radius: 5px;
    background: url("black.jpg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
}
